* text eol=lf

*.tar binary
*.gz binary
*.tar.gz binary

*.bsp binary
*.dat binary
*.tmp binary
*.dll binary
*.so binary
*.lib binary
*.exe binary
*.ttf binary
*.fon binary
*.fnt binary

*.pdb binary
*.ncb binary
*.aps binary

*.bmp binary
*.png binary
*.tga binary
*.tiff binary
*.jpg binary
*.gif binary
*.ico binary

*.wav binary
*.ogg binary
*.mp3 binary
*.m4a binary

*.cpp text
*.h text
*.c text
*.cc text
*.cxx text
*.hpp text
*.txt text
*.cfg text
*.res text
*.rc text

*.sh text
