*.obj
*.dll
*.lib
*.dll.*
*.lib.*
*.exe
*.exp
*.ilk
*.pdb
*.sbr
*.ipch
*.o
*.p
*.a
*.idb
*.log
*.tlog
*.lastbuildstate
*.filters
*.user
*.vcxproj
*.7z
*.map
*.lmp
*.zip
*.json
*.db
*.suo

/WinQuake/progs.dat
#/WinQuake/.vs
/WinQuake/glew
#/WinQuake/release_gl
#/WinQuake/release_gl_64
#/WinQuake/Debug
#/WinQuake/debug_gl
#/WinQuake/debug_gl_64
#/WinQuake/Release
#/WinQuake/x64
#/WinQuake/gas2masm/x64
#/WinQuake/gas2masm/Debug
#/WinQuake/gas2masm/Release
#/tools/qcc/Debug
#/tools/qcc/Release
#/tools/qcc/x64
#/tools/.vs
#/tools/qcc/.vs
/WinQuake/build/*
/WinQuake/build
/tools/qutils/build
