[submodule "WinQuake/sdl2"]
	path = WinQuake/sdl2
	url = https://github.com/libsdl-org/SDL
	branch = release-2.26.x
[submodule "WinQuake/mesa"]
	path = WinQuake/mesa
	url = https://github.com/Mesa3D/mesa
